jupyter==1.1.1
ipywidgets==8.1.7
ipython==9.4.0

pypdf==5.9.0
tqdm==4.67.1
joblib==1.5.1
regex==2025.7.34
more-itertools==10.7.0

pydantic-ai==0.5.0
langchain-qdrant==0.2.0
langchain-openai==0.3.28

fastapi>=0.110.0
uvicorn>=0.27.1
pydantic>=2.6.3
pydantic-settings>=2.2.1
python-dotenv>=1.0.1
langchain>=0.1.12
langchain-community>=0.0.21
